body {
    -webkit-tap-highlight-color: rgb(0 0 0 / 0.00001);
    -webkit-user-select: none;
    user-select: none;
}

.check-enter-active,
.check-leave-active {
    transition: 150ms cubic-bezier(0.55, 0, 0.1, 1);
}

.check-enter-from,
.check-leave-to {
    opacity: 0;
    scale: .75;
}

.items-move {
    transition: transform 420ms cubic-bezier(0.55, 0, 0.1, 1) !important;
}

.items-enter-active,
.items-leave-active {
    transition: opacity 420ms cubic-bezier(0.55, 0, 0.1, 1),
    transform 420ms cubic-bezier(0.55, 0, 0.1, 1) !important;
}

.items-enter-from,
.items-leave-to {
    opacity: 0;
    transform: scale(.5);
    z-index: 1;
}

.overlay-enter-active,
.overlay-leave-active,
.overlay-enter-active > div,
.overlay-leave-active > div {
    transition: 420ms cubic-bezier(0.55, 0, 0.1, 1);
    transition-property: opacity, translate;
}

.overlay-enter-from,
.overlay-leave-to {
    opacity: 0;
}

.overlay-enter-from > div,
.overlay-leave-to > div {
    opacity: 0;
    translate: 0 60px;
}
