:root {
    --red: #ef4444;
    --orange: #f97316;
    --amber: #f59e0b;
    --yellow: #eab308;
    --lime: #84cc16;
    --green: #22c55e;
    --emerald: #10b981;
    --teal: #14b8a6;
    --cyan: #06b6d4;
    --sky: #0ea5e9;
    --blue: #3b82f6;
    --indigo: #6366f1;
    --violet: #8b5cf6;
    --purple: #a855f7;
    --fuchsia: #d946ef;
    --pink: #ec4899;
    --rose: #f43f5e;

    --primary-0: oklch(99% 0 264);
    --primary-1: oklch(98.5% 0.001 106.423);
    --primary-2: oklch(97% 0.001 106.424);
    --primary-3: oklch(92.3% 0.003 48.717);
    --primary-4: oklch(86.9% 0.005 56.366);
    --primary-5: oklch(70.9% 0.01 56.259);
    --primary-6: oklch(55.3% 0.013 58.071);
    --primary-7: oklch(44.4% 0.011 73.639);
    --primary-8: oklch(37.4% 0.01 67.558);
    --primary-9: oklch(26.8% 0.007 34.298);
    --primary-10: oklch(21.6% 0.006 56.043);
    --primary-11: oklch(14.7% 0.004 49.25);

    --background: var(--homey-color-background);
    --font-sans: 'Roboto', 'NotoSansArabic', Helvetica, sans-serif;
    --font-size: 15px;
}

@font-face {
    font-display: swap;
    font-family: 'font-awesome';
    font-style: normal;
    font-weight: 300;
    src: url(../icons.woff2);
}

body {
    font-size: var(--font-size);
}

.button.isMedium {
    padding-left: 12px;
    padding-right: 12px;
}
