:root {
    --red: #ef4444;
    --orange: #f97316;
    --amber: #f59e0b;
    --yellow: #eab308;
    --lime: #84cc16;
    --green: #22c55e;
    --emerald: #10b981;
    --teal: #14b8a6;
    --cyan: #06b6d4;
    --sky: #0ea5e9;
    --blue: #3b82f6;
    --indigo: #6366f1;
    --violet: #8b5cf6;
    --purple: #a855f7;
    --fuchsia: #d946ef;
    --pink: #ec4899;
    --rose: #f43f5e;

    --primary-0: oklch(99% 0 264);
    --primary-1: oklch(98.6% 0.031 120.757);
    --primary-2: oklch(96.7% 0.067 122.328);
    --primary-3:oklch(93.8% 0.127 124.321);
    --primary-4: oklch(89.7% 0.196 126.665);
    --primary-5: oklch(84.1% 0.238 128.85);
    --primary-6: oklch(76.8% 0.233 130.85);
    --primary-7: oklch(64.8% 0.2 131.684);
    --primary-8: oklch(53.2% 0.157 131.589);
    --primary-9: oklch(45.3% 0.124 130.933);
    --primary-10: oklch(40.5% 0.101 131.063);
    --primary-11: oklch(27.4% 0.072 132.109);

    --background: var(--homey-color-background);
    --font-sans: 'Roboto', 'NotoSansArabic', Helvetica, sans-serif;
    --font-size: 15px;
}

@font-face {
    font-display: swap;
    font-family: 'font-awesome';
    font-style: normal;
    font-weight: 300;
    src: url(../icons.woff2);
}

body {
    font-size: var(--font-size);
}

.button.isMedium {
    padding-left: 12px;
    padding-right: 12px;
}
